:root {
  /* Colors */
  --magenta: #bc00ff;
  --black: #000;

  /* Sizes */
  --text-xl: 1.5em;

  /* Spacing */
  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 24px;
  --spacing-5: 32px;
  --spacing-6: 48px;
}

html {
  height: 100%;
}

body {
  background-color: #22292f;
}

.lyricsContainer p {
  color: #b8c2cc;
  font-size: 1.125rem;
  line-height: 1.4;
}

::-moz-selection {
  /* @apply bg-magenta text-black; */
  background: var(--magenta);
  color: var(--black);
}

::selection {
  background: var(--magenta);
  color: var(--black);
}

::-moz-selection {
  background: var(--magenta);
  color: var(--black);
}

.list-reset {
  list-style: none;
  padding: 0;
}
