html {
  height: 100%;
}

body {
  background-color: #22292f;
}

.App {
  min-height: 100vh;
}

.lyricsContainer p {
  color: #b8c2cc;
  font-size: 1.125rem;
  line-height: 1.4;
}

::-moz-selection {
  /* @apply bg-magenta text-black; */
}

::selection {
  /* @apply bg-magenta text-black; */
}

::-moz-selection {
  /* @apply bg-magenta text-black; */
}

hr {
  border-bottom: 1px solid;
  /* @apply border-magenta; */
}

.list-reset {
  list-style: none;
  padding: 0;
}